/CMakeLists.txt
/myenv
/images
/output_images
/videos

/raw_data_set
/prep_data_set
/cont_data_set
/got_num
/no_num

/raw_data_set_2
/prep_data_set_2
/cont_data_2
/got_num_2
/no_num_2

/binary_roi
/final
/otsu_roi